@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url(../src/assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    background: rgba(131, 131, 131, 0.26);
    backdrop-filter: blur(20px);
}

@media screen and (min-width: 1080px) {
    .bg {
        background-image: url(../src/assets/bglarge.svg);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}